jenkins:
  systemReadinessGate:
    enabled: true
  numExecutors: 2
  mode: NORMAL

  securityRealm:
    local:
      administrators:
        - admin

  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Overall/Read:admin"
        - "Overall/Admin:admin"
        - "Overall/Run:admin"

  jobs:
    - name: "shopverse-prod-pipeline"
      project:
        scm:
          ciModernScmSources:
            - github:
                repoUrl: "{{ github_repo_url }}"
                branch: "main"
                userName: "{{ github_user }}"
                password: "{{ github_token }}"
        triggers:
          pollSCM: "H/15 * * * *"

  clouds:
    - docker:
        name: "docker-cloud"
        nodes:
          - label: "docker"
            remoteFS: "/home/jenkins"
            dockerLabel: "docker"
            launcher: "launch.jenkins.plugins.docker.DockerLauncher"
